.DS_Store
.idea/

# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/.venv/
backend/__pycache__/
backend/.pytest_cache/
backend/.ruff_cache/
backend/**/*.pyc

# Packaging
plugin_runtime/plugins/musicpilot/static/assets/
plugin_runtime/plugins/musicpilot/**/*.pyc

